* {
  box-sizing: border-box;
}

/* #413a96, #5556a5 */

body {
  margin: 0;
}

main {
  overflow-x: hidden;
  position: absolute;
  padding: 20px;
  min-height: 100%;
  width: 100%;
  background-color: #5846be;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    #332797 16%,
    #5556a5 37%
  ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/images/background-1.jpg');
}

.iphone-pl {
  position: relative;
  width: 200px;
  height: 100%;
  object-fit: fill;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 80%;
}

a {
  color: inherit !important;
}

.social-networks {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.social-networks.footer {
  flex-direction: row;
  background-color: transparent;
  position: initial;
  width: 100%;
  height: auto;
  top: initial;
  visibility: visible;
  color: white;
  margin-top: 0;
}

.social-networks.footer .social {
  margin-left: 10px;
  margin-right: 10px;
}

header.opaque {
  position: initial;
  /* background-color: #662dcf; */
  background-color: white;;
}

.social {
  font-size: 30px;
  margin: 10px;
}

.social:hover {
  transform: scale(1.5);
  transition: transform ease-in 0.05s;
}

img {
  object-fit: fill;
}

.download-btn {
  width: 100%;
  margin-top: 10px;
}

.screenshot {
  width: 100%;
}

.main-logo {
  float: left;
  margin: -20px;
  margin-top: -60px;
  width: 100vw;
  box-shadow: 0 20px 40px #492194;
}

.about-app {
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-app > p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-container > video {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 40px 40px #000000;
}

.menu-toggler {
  font-size: 50px;
  right: 5px;
  position: absolute;
  z-index: 10;
  color: black;
  display: inline;
}

.menu-toggler.open {
  color: white;
}

.menu {
  margin-top: -20px;
  padding: 20px;
  color: white;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  position: fixed;
  left: 100%;
  background-color: black;
  z-index: 10;
  transition: all ease-in 0.15s;
  opacity: 99%;
}

.menu > ul {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none!important;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.menu > ul li {
  position: relative;
  margin: 5px;
  top: -500px;
  right: -500px;
  transition: all ease-in 0.3s;
  text-align: center;
}

.menu > ul li.open {
  top: 0;
  right: 0;
}

.menu > ul > li:hover {
  text-decoration: underline;
}

.menu.open {
  left: 0;
  visibility: visible;
}

.main-logo.pc {
  display: none;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: 60px;
  transition: all ease-in 0.2s;
  background: white;
  margin: -20px -20px 30px -20px;
  justify-content: center;
  align-items: center;
  /* display: none !important; */
  box-shadow: 0 5px 20px #000000;
}

.header-btn {
  position: relative;
  top: 13px;
  /* display: none; */
  outline: none;
  right: 0;
}


/* 
header > * {
  display: none;
} */

header a {
  background-color: black;
  text-decoration: none !important;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  color: white !important;
}

.logo-web {
  height: 100%;
  position: relative;
  display: none;
}

.logo-web-horizontal {
  height: 70%;
  top: 8px;
  position: relative;
}

.flex-start {
  justify-content: start;
}

.func-sect-container {
  background-color: white;
  padding: 0!important;
  height: auto;
  width: 100vw!important;
  max-width: 100vw!important;
  background-image: url('../assets/images/coins.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -35px;
}

.func-sect {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.func-sect > .row {
  height: auto;
  max-height: 100vh!important;
  align-items: center;
}

.func-sect > .row * {
  height: 100%;
}

.screenshot.small {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.screenshot-desc {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.screenshot.small > img {
  width: auto;
  height: 50vh;
  object-fit: contain;
}

.start-now-container {
  height: 30px;
}

.start-now {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  border: 2px solid black;
  color: rgb(0, 0, 0)!important;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.start-now-container > .start-now:hover {
  transition: box-shadow ease-in 0.2s;
  box-shadow: 0 0 10px 1px cadetblue;
}

.start-now-container-xl {
  display: none;
}



@media only screen and (min-width: 1140px) {
  .about-app {
    max-height: 80vh;
  }

  .main-logo.pc {
    display: initial;
    width: auto;
    height: 40%;
    margin: 0;
    padding: 40px;
    position: relative;
    box-shadow: none;
    margin-top: -30px;
  }

  .screenshot-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
  }

  .screenshot {
    max-height: 50vh;
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {
  .about-app {
    max-height: 50vh;
  }


  .main-logo.pc {
    display: initial;
    width: auto;
    height: 50%;
    margin: 0;
    padding: 40px;
    position: relative;
    box-shadow: none;
    margin-top: -30px;
  }

  .screenshot-container {
    max-height: 80vh;
  }

  .screenshot {
    max-height: 80vh;
  }
}

@media only screen and (min-width: 768px) {
  header a:hover {
    transform: scale(1.2);
    transition: transform ease-in 0.05s;
  }

  .social-networks {
    visibility: visible;
  }

  header {
    display: flex !important;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }

  header > * {
    display: initial;
  }
  .main-logo {
    display: none;
  }

  .menu-toggler {
    display: none;
  }

  .screenshot-desc {
    font-weight: 600;
    font-size: 20px;
  }

  .video-container {
    margin: 0;
    padding: 60px;
  }

  .logo-web {
    display: initial;
  }

  .header-btn {
    display: initial;
    top: 0;
    right: 20px;
  }

  .start-now-container {
    display: none;
  }

  .start-now-container-xl {
    width: 70%;
  }

  .start-now-container-xl > .start-now {
    text-decoration: none;
    padding: 5px;
  }

  .start-now-container-xl > .start-now:hover {
    transition: box-shadow ease-in 0.2s;
    box-shadow: 0 0 10px 1px cadetblue;
  }

  .logo-web-horizontal {
    height: 70%;
    top: 8px;
    left: 5px;
    position: initial;
  }
}
